<div class="container">
    <ng-container *ngIf="cart">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOM</th>
                    <th>PRIX</th>
                    <th>QUANTITY</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let training of cart">
                    <td>{{training.id}}</td>
                    <td>{{training.name}}</td>
                    <td>{{training.price}}</td>
                    <td>{{training.quantity}}</td>
                    <td> <a class ="btn btn-primary" (click)="onDeleteFromCart(training)"> Supprimer </a></td>
                </tr>
                <tr>
                    <td> </td>
                    <td> TOTAL </td>
                    <td> {{total}} </td>
                    <td> </td>
                    <td> <a class = "btn btn-primary" (click)="onOrder()"> Commander </a></td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>